# Google Gemini API
GEMINI_API_KEY=

# URL Base da Aplicação
APP_URL=

# Mercado Pago Gateway de Pagamento
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
VITE_MERCADO_PAGO_PUBLIC_KEY=

# Rastreamento e Métricas (Marketing & Pixels)
VITE_GA4_MEASUREMENT_ID=
VITE_GTM_ID=
VITE_META_PIXEL_ID=
VITE_TIKTOK_PIXEL_ID=
VITE_GOOGLE_ADS_CONVERSION_ID=
VITE_CLARITY_PROJECT_ID=

# Emissão Fiscal (NF-e SEFAZ mod. 55)
FISCAL_CERT_PASSWORD=
FISCAL_CSC_TOKEN=
FISCAL_CSC_ID=
